html {
    --color-white: #ffffff;
    --color-black: #1e1e1e;
    --color-grey: #3e3e3e;
    --color-lightGrey: #dcdcdc;
    --color-blue: #3f51b5;
    --color-pink: #e91e63;
    --color-red: #f44336;
    --color-lightBlue: #2196f3;
    --color-green: #009688;
    --color-yellow: #ffc107;
}

h1,
h2,
h3,
p,
a,
input,
li {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-black);
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

button {
    background-color: var(--color-blue);
    border-radius: 6px;
    border: 1px solid var(--color-black);
    padding: 6px;
}

button:hover {
    box-shadow: 0 0 5px 5px var(--color-grey);
}